<header id="Home">
    <div class="container">
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-3">
                <div class="brand-name">
                    <a href="/"
                        style="text-decoration: none; color: inherit; font-family:'Times New Roman', Times, serif;">
                        <h2>ATN Toy Store</h2>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="search-box" style="padding-top: 5px;">
                    <form action="#" method="post">
                        <input type="text" name="search" id="search" style="width: 400px; margin-left:70px">
                        <button style="all: unset; cursor: pointer;" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="cart" style="padding-top: 10px;">
                    <a href="#"><button style="all:unset; padding-top:5px;" type="button" class="btn btn-light"><i
                                class="fas fa-shopping-cart"></i> <span
                                class="badge badge-light">_#_</span></button></a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                        style="all:unset; padding-top:15px; padding-left:50px; cursor: pointer;" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi <strong>usr</strong>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="blend">
        <ul>
            <!-- Show list of category here -->
            <li><a href="/">Home</a></li>
            {{#each Object.cataloglist}}
                <li><a href="/products/{{this.name}}">{{this.name}}</a></li>
            {{/each}}

            <!--EOF show list of category-->
        </ul>
    </nav>
</header>