<form method="post" action="">
    <div class="form-group">
        <label for="input_keyWord">Nhập từ khoá</label>
        <input type="text" name="q" class="form-control" id="input_keyWord">
    </div>
    <div class="form-group">
        <label for="input_gender">Gender</label>
        <select name="gender" class="form-control" id="input_gender">
            <option disabled selected value="">Chọn giới tính</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>